// general color

.base-color {background-color: $base;}
.primary-color {background-color: $primary;}
.secondary-color {background-color: $secondary;}
.secondaryMiddle-color {background-color: $secondaryMiddle;}
.secondaryDark-color {background-color: $secondaryDark;}

// button 

.btn-base-color {background-color: $base;}
.btn-primary-color {background-color: $primary;}
.btn-secondary-color {background-color: $secondary;}
.btn-secondaryMiddle-color {background-color: $secondaryMiddle;}
.btn-secondaryDark-color {background-color: $secondaryDark;}