.blog-section {
    margin: 1rem 2rem;

    @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.title-big-img {
    color: $primary;
    font-size: 1.7rem;
    line-height: 1;

    @include tablet {
        font-size: 3.3rem;
    }
}

.sub-title-big-img {
    color: $base;
    font-size: 1.7rem;
    line-height: 1;
    
    @include tablet {
        font-size: 3.3rem;
    }
}

.info-baner-container {
    margin: 1rem 0;
    
    @include tablet {
        margin: 1rem 1.5rem;

    }
}
