
.slider-text {
    width: 100%;
    position: absolute;
    right: 0;
    top: 10%;
    // left: ;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    
    @include laptop {
        top: 15%;

    }
    
}
.slider-text-2 {
    width: 100%;
    position: absolute;
    left: 10%;
    top: 10%;
    // left: ;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;

    @include laptop {
        top: 15%;
    }
    
    
}

.title-slider {
    font-size: 1rem;
    
    @include laptop {
        font-size: 1.5rem;

    }
}

