/*cad ofert men and girl*/
.text-offert-girl {
  background-color: #00aeef;
  padding: 1rem 0.5rem; }

.text-offert-men {
  background-color: #ebb73a;
  padding: 1rem 0.5rem; }

@media screen and (min-width: 930px) {
  .content-offert-text {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 650px;
    min-height: 500px; } }

@media screen and (min-width: 930px) {
  .ofert-item {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media screen and (min-width: 930px) {
  .content-offert-text-men {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 650px;
    min-height: 500px; } }

@media screen and (min-width: 930px) {
  .ofert-item-men {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

/*big images / blog section and 3 banel without image*/
.blog-section {
  margin: 1rem 2rem; }
  @media screen and (min-width: 730px) {
    .blog-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.title-big-img {
  color: #ebb73a;
  font-size: 1.7rem;
  line-height: 1; }
  @media screen and (min-width: 730px) {
    .title-big-img {
      font-size: 3.3rem; } }

.sub-title-big-img {
  color: #ffff;
  font-size: 1.7rem;
  line-height: 1; }
  @media screen and (min-width: 730px) {
    .sub-title-big-img {
      font-size: 3.3rem; } }

.info-baner-container {
  margin: 1rem 0; }
  @media screen and (min-width: 730px) {
    .info-baner-container {
      margin: 1rem 1.5rem; } }

/*suscription section*/
@media screen and (min-width: 730px) {
  .suscription-content {
    display: flex;
    align-items: stretch; } }

@media screen and (min-width: 930px) {
  .suscription-content {
    min-height: 500px;
    height: 650px; } }

@media screen and (min-width: 730px) {
  .suscription {
    height: 374px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (min-width: 930px) {
  .suscription {
    padding-top: 20rem; } }

@media screen and (min-width: 730px) {
  .suscription-form-control {
    width: 200px; } }

/*Footer section*/
.footer {
  background-color: #ebb73a;
  padding: 2rem 0; }

.sn-item {
  font-size: 2rem;
  margin: 0 0.7rem; }

.social-media {
  text-align: center; }
  @media screen and (min-width: 930px) {
    .social-media {
      text-align: left; } }

/*icono*/
.icono {
  border-radius: 50%;
  background-color: #ebb73a;
  width: 75px;
  height: 75px; }

.menu-about {
  margin-top: 5rem;
  margin-bottom: 2rem; }

.slider-text {
  width: 100%;
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: right; }
  @media screen and (min-width: 930px) {
    .slider-text {
      top: 15%; } }

.slider-text-2 {
  width: 100%;
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left; }
  @media screen and (min-width: 930px) {
    .slider-text-2 {
      top: 15%; } }

.title-slider {
  font-size: 1rem; }
  @media screen and (min-width: 930px) {
    .title-slider {
      font-size: 1.5rem; } }

.text-base {
  color: #ffff; }

.text-myPrimary {
  color: #ebb73a; }

.text-mysecondary {
  color: #00aeef; }

.base-color {
  background-color: #ffff; }

.primary-color {
  background-color: #ebb73a; }

.secondary-color {
  background-color: #00aeef; }

.secondaryMiddle-color {
  background-color: #0072bc; }

.secondaryDark-color {
  background-color: #0054a6; }

.btn-base-color {
  background-color: #ffff; }

.btn-primary-color {
  background-color: #ebb73a; }

.btn-secondary-color {
  background-color: #00aeef; }

.btn-secondaryMiddle-color {
  background-color: #0072bc; }

.btn-secondaryDark-color {
  background-color: #0054a6; }
