// Colores 
$base: #ffff;
$primary: #ebb73a;
$secondary: #00aeef;
$secondaryMiddle: #0072bc;
$secondaryDark: #0054a6;


// media querys 

$mobile: 520px;
$tablet: 730px;
$laptop: 930px;
$desktop: 1200px;